# Private & Configs
accounts.json
settings.json
seedvis_settings.json
uploaded_image_cache.json
*.tmp

# Logs & Runtime
*.log
log.txt
debug_api.txt
lines_output.txt
__pycache__/
_profiles/
temp_render/
chrome_for_testing/
_monitor_state.json

# Media & Archives
*.rar
*.zip
*.mp4
*.exe

# Temp files
Mo
Sau
new_version.txt
shopee.txt

