curl_cffi
customtkinter
DrissionPage
pyotp
pillow
edge-tts
psutil
cryptography
requests
httpx
pystray
pyreqwest_impersonate
groq
google-genai
google-generativeai
google-auth
opencv-python
numpy
websockets
